@*Para vincular uma model a uma view:*@
@model ContatoModel
@{
    ViewData["Title"] = "Cadastrar Contato";
}

<div class="text-center">

    <h1 class="display-4">Cadastrar contatos</h1> 

</div>

<form asp-controller="Contato" asp-action="Criar" method="post">

    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" asp-for="Name" class="form-control" placeholder="José da Silva">
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">E-mail do contato</label>
        <input type="email" asp-for="Email" class="form-control" placeholder="jose@gmail.com">
    </div>

    <div class="form-group">
        <label for="celular">Celular</label>
        <input type="text" asp-for="Celular" class="form-control" placeholder="(11) 99999-9999">
    </div>

    <button type="submit" class="btn btn-primary btn-block">Adicionar</button>
    <a class="btn btn-secondary btn-block" asp-controller="Contato" asp-action="Index" role="button">Voltar</a>
</form>


@*Para mapear cada input desse formulário: colocar "asp-for:"Nome" que é o atributo que está na model*@